<li class="c-list__item c-list__item--inactive">
  <div class="c-list__group c-list__group--title">
    <a href="#" class="c-list__link">
      <h3 class="c-list__title">awesome-pictures.com</h3>
    </a>

    <button class="c-button c-button--no-bg  c-list__more-button">
      <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#dropdown"/></svg>
      <span class="c-button__text u-sr-only">Show Actions</span>
    </button>
  </div>

  <div class="c-list__group c-list__group--actions">
    <div class="c-list__action-group">
      <input type="checkbox" id="inactive" class="c-form-choice c-form-choice--checkbox  c-list__checkbox">
      <label for="inactive">Aktiv</label>
    </div>

    <div class="c-list__action-group">
      <button class="c-button  c-list__button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#group"/></svg>
        <span class="c-button__text u-sr-only-sm u-sr-only-md">Aliases</span>
      </button>

      <button class="c-button  c-list__button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#device-hub"/></svg>
        <span class="c-button__text u-sr-only-sm u-sr-only-md">Mailing Lists</span>
      </button>

      <button class="c-button  c-list__button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#forward"/></svg>
        <span class="c-button__text u-sr-only-sm u-sr-only-md">Forwards</span>
      </button>
    </div>

    <div class="c-list__action-group">
      <button class="c-button  c-list__button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#settings"/></svg>
        <span class="c-button__text u-sr-only-sm u-sr-only-md u-sr-only-lg">Settings</span>
      </button>

      <button class="c-button  c-list__button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#delete"/></svg>
        <span class="c-button__text u-sr-only-sm u-sr-only-md u-sr-only-lg">Delete</span>
      </button>
    </div>
  </div>
</li>
