---
title: Buttons
description: Buttons. You click on them. They do stuff.
category: Components
---
{{#extend "layouts/components"}}
{{#content "body"}}

  {{#embed "styleguide/article" title="Default w/ Label"}}
  {{#content "body"}}
    <button class="c-button">Button</button>
    <input type="button" class="c-button" value="Input (Button)">
    <input type="submit" class="c-button" value="Input (Submit)">
    <a href="#" class="c-button">Link</a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Default w/ Icon and Label"}}
  {{#content "body"}}
    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text">Button</span>
    </button>
    <a href="#" class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text">Link</span>
    </a>

    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text">Button</span>
    </button>
    <a href="#" class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text">Link</span>
    </a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Default w/ Icon and w/o Label"}}
  {{#content "body"}}
    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text u-sr-only">Button</span>
    </button>
    <a href="#" class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text u-sr-only">Link</span>
    </a>

    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text u-sr-only">Button</span>
    </button>
    <a href="#" class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text u-sr-only">Link</span>
    </a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Highlighted"}}
  {{#content "body"}}
    <button class="c-button c-button--highlight">Button</button>
    <input type="button" class="c-button c-button--highlight" value="Input (Button)">
    <input type="submit" class="c-button c-button--highlight" value="Input (Submit)">
    <a href="#" class="c-button c-button--highlight">Link</a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Highlighted w/ Icon and Label"}}
  {{#content "body"}}
    <button class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text">Button</span>
    </button>
    <a href="#" class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text">Link</span>
    </a>

    <button class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text">Button</span>
    </button>
    <a href="#" class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text">Link</span>
    </a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Highlighted w/ Icon and w/o Label"}}
  {{#content "body"}}
    <button class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text u-sr-only">Button</span>
    </button>
    <a href="#" class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="c-button__text u-sr-only">Link</span>
    </a>

    <button class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text u-sr-only">Button</span>
    </button>
    <a href="#" class="c-button c-button--highlight c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#device-hub"/></svg>
      <span class="c-button__text u-sr-only">Link</span>
    </a>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="Icon only w/o Background"}}
  {{#content "body"}}
    <button class="c-icon-button">
      <svg class="c-icon-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="u-sr-only">Button</span>
    </button>
    <a href="#" class="c-icon-button">
      <svg class="c-icon-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#group"/></svg>
      <span class="u-sr-only">Link</span>
    </a>
  {{/content}}
  {{/embed}}

{{/content}}
{{/extend}}
